# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment directories
venv/
env/

# Ignore compiled C extensions
*.so

# Ignore logs and temporary files
*.log
*.tmp

# Ignore statistical software files
*.rdata
*.rds
*.sav
*.dta
*.csv~

# Ignore backup files
*~
*.bak
*.swp
Sibbertsen_Statistik Einführung.pdf